video {
  object-fit: cover;
  width: 150vw;
  height: 100%;
  float: right;
  overflow-x: hidden;
  position: fixed;
  z-index: -1;
}

.left_animation{
  animation: moveLeft 1s ease-out 1s;
  animation-fill-mode: backwards;
}
.right_animation{
  animation: moveRight 1s ease-out 1s;
  animation-fill-mode: backwards;
}
@keyframes moveLeft {
  0% {
      opacity: 0;
      transform: translateX(100px);
  }
  80% {
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  80%{
      transform: translateX(20px);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  align-items: center;
  object-fit: contain;
}

.hero-container > h2 {
  color: #fff;
  font-size: 45px;
  overflow-x: hidden;
  text-align: center;
  margin-top: -100px;
}
.seed{
  color: #fff;
  font-size: 90px;
  margin-top: -20px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  overflow-x: hidden;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h2 {
    font-size: 40px;
    margin-top: -150px;
  }
 .seed{
    color: #fff;
    font-size: 80px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h2 {
    font-size: 30px;
    margin-top: -100px;
  }
  .seed{
    color: #fff;
    font-size: 60px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

.left-container{
  float:left;
  width:40%;
  margin-left: 5%;
}
.right-container{
  float:left;
  width:40%;
  height:100vh;
  margin-left: 5%;
}
.right-container h1{
  padding-top: 30vh;
}
.container{
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.middle-line{
  height: 100vh;
  float: left;
  width:1vw;
  padding: 10vh 0 0 7vw;
}
.line{
  border-left: 6px solid rgb(255, 255, 255);
  height: 500px;
}