* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255);
}

*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: transparent;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 400ms ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
